:root {
    --nc-tx-1: #cccccc;
    --nc-tx-2: #cccccc;
    --nc-bg-1: #141414;
    --nc-bg-2: #1f1f1f;
    --nc-bg-3: #222222;
    --nc-bg-4: #121212;
    --nc-lk-1: #ee720d;
    --nc-lk-2: #1eaedb;
    --nc-lk-tx: #141414;
    --nc-ac-1: #7928ca;
    --nc-ac-tx: #cccccc;

    --nc-green: #2ec933;
    --nc-red: #ff4c4c;

    --ff: "Ubuntu", sans-serif;
}

body {
    font-family: var(--ff-sans);
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1,
h2,
h3 {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--nc-bg-2);
}

.status-message {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid transparent;
}

.status-message.success {
    border-color: var(--nc-green);
}

.status-message.error {
    border-color: var(--nc-red);
}

.EasyMDEContainer {
    background-color: var(--nc-bg-2);
    border-radius: 0.3rem !important;
}

.EasyMDEContainer .editor-toolbar,
.EasyMDEContainer .editor-toolbar.fullscreen {
    border-bottom: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    background-color: var(--nc-bg-2);
    border: none;
}

.EasyMDEContainer .editor-toolbar {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.EasyMDEContainer .editor-toolbar i.separator,
.EasyMDEContainer .editor-toolbar.fullscreen i.separator {
    border-color: var(--nc-tx-1);
}

.EasyMDEContainer .editor-toolbar button,
.EasyMDEContainer .editor-toolbar.fullscreen button {
    color: var(--nc-tx-1);
}

.EasyMDEContainer .editor-toolbar button:hover,
.EasyMDEContainer .editor-toolbar button.active {
    color: var(--nc-bg-2);
}

.EasyMDEContainer .CodeMirror,
.EasyMDEContainer .CodeMirror-fullscreen {
    background-color: var(--nc-bg-2) !important;
    border-radius: 0 !important;
    color: var(--nc-tx-1);
    border: none !important;
    border-top: 3px solid var(--nc-bg-1) !important;
}

.EasyMDEContainer .CodeMirror-cursor {
    border-color: var(--nc-tx-1);
}

.EasyMDEContainer .cm-spell-error {
    background-color: transparent !important;
    border-bottom: 1px solid var(--nc-red);
}

.EasyMDEContainer .editor-statusbar {
    color: var(--nc-tx-1);
    border-top: none;
}

.EasyMDEContainer .editor-preview,
.EasyMDEContainer .editor-preview-side {
    background-color: var(--nc-bg-2);
}

.EasyMDEContainer .CodeMirror-selected {
    background-color: var(--nc-bg-1) !important;
}

.EasyMDEContainer .editor-preview h1,
.EasyMDEContainer .editor-preview h2,
.EasyMDEContainer .editor-preview h3,
.EasyMDEContainer .editor-preview-side h1,
.EasyMDEContainer .editor-preview-side h2,
.EasyMDEContainer .editor-preview-side h3 {
    border-bottom: none;
}

.EasyMDEContainer .editor-preview pre,
.EasyMDEContainer .editor-preview-side pre {
    background-color: var(--nc-bg-1) !important;
    border-radius: 0;
}

.EasyMDEContainer .cm-link {
    color: var(--nc-lk-1) !important;
}
